.menu-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    visibility: hidden;
}

.customize-support .menu-wrapper{
    top: 32px;
}

.menu-wrapper_active {
    visibility: visible;
}

.menu-wrapper .container {
    position: relative;
    z-index: 2;
}

.menu-wrapper .animate-after-background {
    visibility: hidden;
    opacity: 0;
}

.menu-wrapper_active .animate-after-background {
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
    transition-delay: .5s;
}

.menu-wrapper::after {
    transform: translateY(100%);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #111;
    top: 0;
    z-index: 1;
    transition: all .5s ease-in-out;
}

.menu-wrapper_active::after {
    transform: translateY(0);
}

.copyright .social svg {
    fill: white;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
}

.menu__close-button {
    border: none;
    position: absolute;
    background: transparent;
    height: 50px;
    right: 70px;
    top: 30px;
}

.menu__close-button svg {
    fill: white;
}

.menu-wrapper .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-wrapper h2 {
    justify-content: center;
    font-size: 32px;
    font-weight: 700;
    padding-top: 40px;
    color: white;
}

.menu {
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 40px;
    font-weight: 700;
}

.menu a {
    color: white;
    margin-bottom: 20px;
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    display: block;
    text-decoration: none;
}

.menu-wrapper_active .menu a {
    opacity: 1;
    transform: translateY(0);
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.menu-wrapper_active .menu a:nth-child(2) {
    transition-delay: .6s;
}

.menu-wrapper_active .menu a:nth-child(3) {
    transition-delay: .7s;
}

.menu-wrapper_active .menu a:nth-child(4) {
    transition-delay: .8s;
}

.menu a::after {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    left: 0;
    height: 4px;
    transition: background-size .3s ease-in-out;
}

.menu a:hover::after {
    background-size: 100% 4px;
    color: white;
}

.menu-wrapper .copyright {
    margin-bottom: 50px;
}