            .projects {
                padding: 20px;
                max-width: 1120px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
            }
            
            .project:nth-child(2) {
                margin-top: 100px;
            }
            
            .project:nth-child(5) {
                margin-top: 100px;
            }
            
            .info h3 {
                color: white;
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            
            .project {
                position: relative;
            }
            
            .project .info {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 30px;
                z-index: 2;
            }
            
            .categories {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            
            .categories h3 {
                margin-top: 40px;
            }
            
            .categories span,
            h3 {
                color: white;
                margin-left: 40px;
            }
            
            .project .info h3,
            .project .info .categories {
                transform: translateY(15px);
                transition: all .3s ease-in-out;
                visibility: hidden;
                opacity: 0;
            }
            
            .project:hover .info h3,
            .project:hover .info .categories {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
            }
            
            .project .info h3:hover {
                transform: translateX(10px);
                transition: all .3s ease-in-out;
            }
            
            .info svg {
                fill: white;
            }
            
            .icon_right {
                position: absolute;
                bottom: 40px;
                left: 40px;
                transition: all .3s ease-in-out;
            }
            
            .icon_right:hover {
                transform: translateX(10px);
                transition: all .3s ease-in-out;
            }
            
            .projects .info .categories {
                transition-delay: .1s;
            }
            
            .background-animation {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: row wrap;
                z-index: 2;
            }
            
            .background-animation span {
                width: 50%;
                height: 50%;
                background: #000;
                visibility: hidden;
                opacity: 0;
            }
            
            .project:hover .background-animation span {
                opacity: .9;
                visibility: visible;
            }
            
            .background-animation span:nth-child(2) {
                transition-delay: .1s;
            }
            
            .background-animation span:nth-child(4) {
                transition-delay: .2s;
            }
            
            .background-animation span:nth-child(3) {
                transition-delay: .3s;
            }
            
            @media (max-width: 970px) {
                .project:nth-child(2) {
                    margin-top: 0;
                }
                .project:nth-child(5) {
                    margin-top: 0;
                }
                .projects {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 30px;
                    padding: 20px;
                }
                .project {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0;
                }
                .background-animation span {
                    display: none;
                }
                .background-animation {
                    background: #00000073;
                }
                .project .info h3,
                .project .info .categories {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
                .categories span {
                    display: flex;
                    justify-content: center;
                    font-size: 19px;
                    margin-left: 0;
                }
                .project-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 70px;
                }
                .project-title h3 {
                    font-size: 47px;
                    margin-left: 0;
                }
                .project .info h3:hover {
                    transform: none;
                }
                .icon_right:hover {
                    transform: none;
                }
            }
            
            @media (max-width: 670px) {
                .projects {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 10px;
                    padding: 10px;
                }
                .background-animation span {
                    display: none;
                }
                .background-animation {
                    background: #00000073;
                }
                .project .info h3,
                .project .info .categories {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
                .categories span {
                    display: flex;
                    justify-content: center;
                    font-size: 19px;
                    margin-left: 0;
                }
                .project-title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 70px;
                }
                .project-title h3 {
                    font-size: 47px;
                    margin-left: 0;
                }
                .project .info h3:hover {
                    transform: none;
                }
                .icon_right:hover {
                    transform: none;
                }
            }