.social svg:hover {
    fill: #ff8caa;
    transition: .2;
}

.social {
    display: flex;
    justify-content: center;
    align-self: center;
}

.social a:not(:last-child) {
    margin-right: 30px;
}

.social svg {
    fill: black;
    width: 22px;
    height: auto;
}

@media (max-width: 670px) {
    .social a:not(:last-child) {
        margin-right: 15px;
    }
    .social svg {
        fill: black;
        width: 18px;
        height: auto;
    }
    .social {
        margin-top: 40px;
    }
}